@media screen and (max-width: 400px) {
  #features {
    padding: 20px 12px;
    overflow-x: hidden;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer,
  #portfolio {
    overflow-x: hidden;
  }
}
